table{
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    background-color:#F4FCFE;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:85%;
}
th {
    border: 1px solid black;
    font-size:larger;
}

td {
    border: 1px solid black;
    font-size: medium;
    align-items: center;
    padding: 1px 15px;
}

p {
    font-size:larger;
    font-style:normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(../Imagenes/FONDOL.png);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

.boton {
    border: 2px solid black;
    padding: 14px 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    display:inline-block;
    border-radius: 28px;
    background-color: #C8E1F5;
}
