h1 {
    text-align: center;
    font-size:xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}
p {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 60px;
}
table {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td {
    border: 1px solid black;
    font-size: 18px;
    padding: 1px 15px;
    text-align: center; 
}
.imagen {
    border: 2px solid black;
    width: 27%;
}
.imagen2 {
    border: 2px solid black;
}
body {
    background-image: url(../Imagenes/FondoLB.png);
}
ul {
    font-size: 17px;
    padding-left: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}